{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SK FARMS</title>
    <link rel="stylesheet" href="{% static 'skfarms.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>
<body>
    <header>
        <div class="main-header">
            
            <img src="{% static './images/logoheading.jpeg' %}" alt="" height="90px">
                

            <div>
                <nav>
                    <ul class="nav-div">
                        <li><a href="{% url 'index' %}" class="nav-a">Home</a></li>
                        <li><a href="{% url 'about' %}" class="nav-a">About Us</a> </li>
                        <li><a href="{% url 'cows' %}" class="nav-a"> Our Cows</a></li>
                        <li><a href="{% url 'products' %}" class="nav-a">Products</a> </li>
                        <li><a href="{% url 'gallery' %}"  style="border-bottom: 5px solid green; padding-bottom: 5px; color: green; text-decoration: none;"> Gallery</a></li>
                        <li><a href="{% url 'contact' %}" class="nav-a">Contact Us</a> </li>
                    </ul>
                </nav>
            </div>

            <div>
                <a href="./contact.html" style=" text-decoration: none; border-radius: 10px; border: 2px solid black; color: white; background-color: green; display: flex; align-items: center;padding-left: 20px;padding-right: 20px; gap: 3px; font-family: Arial, Helvetica, sans-serif;"> <span class="material-symbols-outlined">call</span> <p>Order Now</p></a>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <h1 class="gallery-heading">Gallery</h1>
            <p class="gallery-subheading">Moments from SK Farms</p>
            <div class="gallery-images">
                <img src="{% static './images/gallery1.png' %}" alt="" class="gal-img">
                <img src="{% static './images/gallerymain.png' %}" alt="" class="gal-img gal-main">
                <img src="{% static './images/gallery2.png' %}" alt="" class="gal-img">
                <img src="{% static './images/gallery3.png' %}" alt="" class="gal-img">
                <img src="{% static './images/gallery4.png' %}" alt="" class="gal-img">
                <img src="{% static './images/milk.jpeg' %}" alt="" class="gal-img">
                <img src="{% static './images/gallery6.jpg' %}" alt="" class="gal-img">
                <img src="{% static './images/gallery7.jpg' %}" alt="" class="gal-img">
                <img src="{% static './images/gallery8.jpg' %}" alt="" class="gal-img">
                <img src="{% static './images/gallery9.jpg' %}" alt="" class="gal-img">
                <img src="{% static './images/gallery10.jpg' %}" alt="" class="gal-img">
                <img src="{% static './images/gallery11.jpg' %}" alt="" class="gal-img">
                <img src="{% static './images/gallery12.jpg' %}" alt="" class="gal-img">
                <img src="{% static './images/gallery13.jpg' %}" alt="" class="gal-img">
                <img src="{% static './images/gallery14.jpg' %}" alt="" class="gal-img">
                <img src="{% static './images/gallery5.jpg' %}" alt="" class="gal-img">
                <img src="{% static './images/gallery15.jpg' %}" alt="" class="gal-img">
                <img src="{% static './images/bananchips.png' %}" alt="" class="gal-img">
                <img src="{% static './images/cowimg4ourcows.png' %}" alt="" class="gal-img">
                <img src="{% static './images/fodder.jpg' %}" alt="" class="gal-img">
                <img src="{% static './images/cheese.jpeg' %}" alt="" class="gal-img">
            </div>
        </div>
    </section>

    <footer style="background-color: rgb(17, 85, 17); margin-left: 50px; margin-right: 50px; margin-top: 30px;">
        <div class="footer-flex">
        
            <div class="first-foot">
                <img src="{% static './images/footercow.png' %}" height="200px" alt="">

                <div>
                    <h1 style="color: white;">Visit Our Farm</h1>
                    <p style="color: white;">We welcome you to visit our farm and experience <br> the level and caring we give to our cows.</p>
                    <a href="./contact.html" style="justify-content: center; color: white; text-decoration: none; display: flex;align-items: center; gap: 9px; border: 3px solid white; width: 200px; border-radius: 7px;">
                        <p>Plan Your Visit </p> <span class="material-symbols-outlined">arrow_forward</span> 
                    </a>
                </div>
            </div>

            <!-- second coloumn -->

            <div style="color: white;">
                <h2>Quick Links</h2>
                <a href="./index.html" class="footer-links">Home</a> <br>
                <a href="./about.html" class="footer-links">About Us</a> <br>
                <a href="./cows.html" class="footer-links">Our Cows</a> <br>
                <a href="./products.html" class="footer-links">Products</a> <br>
                <a href="./gallery.html" class="footer-links">Gallery</a> <br>
                <a href="./contact.html" class="footer-links">Contact Us</a> <br>
            </div>

            <!-- third coloumn -->

            <div style="color: white;">
                <h2>Our Products</h2>
                <a href="" class="footer-links">Diary Products</a> <br>
                <a href="" class="footer-links">Milk</a> <br>
                <a href="" class="footer-links">Paneer</a> <br>
                <a href="" class="footer-links">Ghee</a> <br>
                <a href="" class="footer-links">Other Products</a> <br>
                <a href="" class="footer-links">All Products</a>
            </div>


            <!-- fourth coloumn -->

            <div style="color: white;">
                <h2>Contact Us</h2>
                <p style="margin: 2px 0;">SK Farms </p>
                <p style="margin: 2px 0;"> Alappuzha,Kerala ,India </p>
                <div style="display: flex;gap: 5px; align-items: center;margin-top: -10px;"> <span class="material-symbols-outlined" style="font-size: 17px;">call</span> <p>+91 62******64</p></div>
                <div style="display: flex; gap: 5px; align-items: center;margin-top: -25px;"> <span class="material-symbols-outlined" style="font-size: 17px;">mail</span> <p>skfarmsdiary@gmail.com</p></div>
            </div>

        </div>

        <div style="text-align: center;background-color: rgb(2, 62, 2);">
            <p style="color: white;font-family: Arial, Helvetica, sans-serif;font-size: 12px;padding-top: 3px;padding-bottom: 3px;">Ⓒ2025 SK Farms.All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>